body{
    background-color: #d5ecfb;;
    font-family: "Poppins", Sans-serif;
    color:#a5a5a5;
    
}

/* ===== Navbar ===== */
.navbar{
  padding: 16px 24px;    
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 16px 24px;
    display: flex;
    align-items: center;
}

.navbar a{
    color:#a5a5a5;
    text-decoration: none;
}
.navbar a:hover{
    color:#0093F4;
}

.material-symbols-outlined {
  font-size: 48px;
  line-height: 1;          
  display: inline-block;
  color: #0093F4;
}

#title{
    color: #0093F4;
}

.left {
    flex: 1;
    display: flex;
    gap: 8px;
}
.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;   
    gap: 30px;
    font-size: larger;
}
.auth {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
#signBtn{
    background-color: #0093F4;
    font-size: 13px;
    font-weight: 510;
    line-height: 25px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0093F4;
    border-radius: 10px 10px 10px 10px;
    padding: 11px 14px 11px 14px;
    color: white;
    text-decoration: none;
}
#signBtn:hover{
    color: #0093F4;
    background-color: white;
}
#loginBtn{
    background-color: #DAECF7;
    font-size: 13px;
    font-weight: 510;
    line-height: 25px;
    fill: #0093F4;
    color: #0093F4;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0093F4;
    border-radius: 10px 10px 10px 10px;
    padding: 11px 14px 11px 14px;
}
#loginBtn:hover{
color: white;
background-color: #0093F4;
}

/* ===== Hero ===== */
.hero{
  padding: 34px 24px;  
  column-gap: 30px;  
   display: flex;
   flex-direction: column;
   text-align: center;
   min-height: 600px;
   
   background: linear-gradient(
    180deg,
    #d5ecfb 0%,
    #f4faff 60%,
    #ffffff 100%
  );
}

.hero h1{
    font-size: 65px;
    font-weight: 600;
    color: #1a1a1a;
}
.hero p{
    font-size: 30px;
}
.cta-btn{
  background: #0093F4;
  color: white;
  padding: 11px 14px;
  border: 1px solid #0093F4;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center; 
    margin-top: 150px;
    
}

.cta-btn:hover{
  background: white;
  color: #0093F4;
}

