body{
    background-color: #d5ecfb;;
    font-family: "Poppins", Sans-serif;
    color:#a5a5a5;
    
}
/* ===== Navbar ===== */
.navbar{
  padding: 16px 24px;    
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    color:#a5a5a5;
    text-decoration: none;
}
.navbar a:hover{
    color:#0093F4;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
}

#title{
    color: #0093F4;
}

.left {
    
    display: flex;
    gap: 8px;
}


.profile-menu {
    position: relative;
    cursor: pointer;
}
.profile-icon {
    font-size: 36px;
    color: #0093F4;
}
.profile-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
    width: 150px;
    flex-direction: column;
}
.profile-dropdown a {
    padding: 10px 16px;
    text-decoration: none;
    color: #555;
    display: block;
}

.profile-dropdown a:hover {
    background: #f4faff;
    color: #0093F4;
}
