
.signup-page{
  background: linear-gradient(
    180deg,
    #d5ecfb 0%,
    #f4faff 60%,
    #ffffff 100%
  );

  min-height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 70px;
}


.signup-box{
  width: 100%;
  max-width: 750px;
  background: white;
  border-radius: 20px;

  padding: 8px 22px;
  margin: 25px;

 box-shadow: 0 12px 25px rgba(0, 147, 244, 0.15);

}


.signup-header{
  text-align: center;
}

.signup-icon{
  font-size: 35px;
  color: #0093F4;
  margin: 10px;
}

.signup-header h1{
  font-size: 30px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0 0 10px;
}

.signup-header p{
  font-size: 17px;
  color: #777;
  margin: 0 0 18px;
}


.signup-form{
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.signup-form label{
  font-weight: 600;
  color: #333;
}


.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"]{
  width: 100%;
  padding: 10px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 16px;
}


.role-choice{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 8px 0 10px;
  font-size: 15px;
  color: #555;
}

.role-option{
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;

  background: #f4faff;
  border: 1px solid #ddd;

  padding: 10px 14px;
  border-radius: 14px;
  cursor: pointer;
}


.signup-btn{
  margin-top: 10px;
  padding: 9px;
  border-radius: 14px;
  border: none;
  background: #0093F4;

  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  text-align: center;
}

.signup-btn:hover{
  background-color: #0077c8;
}


.signup-footer-text{
  font-size: 15px;
  color: #777;
  text-align: center;
  margin-top: 8px;
}

.signup-footer-text a{
  color: #0093F4;
  font-weight: 600;
  text-decoration: none;
}

.signup-footer-text a:hover{
  color: #0077c8;
}